{% load wagtailcore_tags %}

<div class="col m4 s12 home-past-events">
  <div class="row">
    <div class="col m4 s12 grey darken-3 content-label">
      PAST EVENTS
    </div>
  </div>
  <div class="row">
    <div class="col m12 s12 main-story amber darken-3 grid-box">
    	
    </div>
  </div>
  <div class="row">
    <div class="col m6 s12">
      <div class="row">
        <div class="col m12 s12 blue lighten-2 grid-box">
        	
        </div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="row">
        <div class="col m11 s12 blue lighten-2 offset-m1 grid-box">
        	
        </div>
      </div>
    </div>
    <div class="col s12 main-story grey darken-1 grid-box">
    	
    </div>
  </div>
</div>