body, html {
	margin: 0;
}

nav {
  height: 100px;
  line-height: 100px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  height: 100px;
  line-height: 100px;
}

nav .button-collapse i {
  height: 100px;
  line-height: 100px;
}

nav .brand-logo {
  font-size: 1.6rem;
  top: -10px;
}

nav ul a {
  color: #222 !important;
}

.input-form {
  padding-top:160px;
}


@media only screen and (min-width: 601px){
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 100px;
    line-height: 100px;
  }
}

@media only screen and (min-width: 601px){
  .home-news {
    margin-right: 20px;
  }
}

.container {
	align-items:center;
	justify-content:center;
	min-width:70vw;
	margin-top:70px;
	flex-wrap:wrap;
	width:100%;
	padding-top:50px;
}
.profile-list {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:row;
	flex-wrap:wrap;
	flex-flow: row wrap;
	align-content:flex-end;
}

.colHeader {
	height:100px;
	min-width:100px;
}
.outer img {
	max-width:100%;
	height:auto;
}

.articleStuff {
	padding:5%;
}

.aboutStuff {
	padding:5%;
	width:600px;
	height:100%;
}

.aboutStuff img.full-width {
	margin: 0 auto;
}

.aboutStuff p {
	width:auto;
}

@media screen and (max-width:601px) {
	.aboutStuff {
		width:100vw;
		min-width:0px;
	}
}

.eventList {
	float:left;
	margin-right: 30px;
}

.eventList>.block-event>.row>.col {
	margin-left:0;
}

.eventCard {
	color:rgba(255, 255, 255, 0.901961)
}

.eventCal {
	margin-right:30px;
	float:right;
	top:0;
}

.grid-box {
  padding:20px !important;
  min-height: 210px !important;
  color: #333;
  font-size: 12pt;
}

.home-news > .row > * > .row {
  margin-top:0;
  margin-bottom:0;
}

.home-past-events > * > .content-label {
  float: right;
  text-align: right;
}

.content-label {
  padding: 10px 20px 10px 20px !important;
  color: #F3F3F3;
  font-weight: 700;
}

.card-panel {
	width:250px;
}

.card-right {
  text-align: left;
}

.card-panel p {
  word-wrap: break-word;
}

.card-panel img {
  margin-right: 20px;
  min-width:100%;
  height:auto;
}

.block-profile {
	height:550px;
	padding:20px;
}

.profile-list {
}

/* A load of crap that makes the profiles alternate */
.profile-list > div:nth-child(odd) .card-panel {
  background-color: #4fc3f7;
}

.profile-list > div:nth-child(even) .card-panel {
  background-color: #ff8f00;
}

.profile-list > div:nth-child(even) .col {
}

.event {
  border-top: 1px solid grey;
  padding: 20px;
}

.event h3 {
  font-size: 20pt;
  color: #444;
  margin: 0;
}

.event h4 {
  font-size: 11pt;
  color: #222;
}

.event p {
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.nav-wrapper {
  padding-left: 128px;
  padding-right: 128px;
}

#eventheader{
	color:#fff;
}

.events {
	min-width:160px!important;
}

#dateheader {

}

.date {
	min-width:100px!important;
}

#timeheader {

}

.time {
	min-width:100px!important;
}

.eventrow {
	margin-bottom:0!important;
}

.date, .time, .events {
	padding: 10px 5px!important;
}
