{% load static %}

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper amber darken-3">
    	<ul class="left hide-on-med-and-down">
        <li>
        	<a href="/team">MEET THE TEAM</a>
        </li>
					<li>
						<a href="/about">ABOUT</a>
					</li>
      </ul>
      <a href="/">
      	<img src="{% static 'img/logo2.png' %}" width="150px" class="brand-logo center logo" />
      </a>
      <ul class="right hide-on-med-and-down">
      	<li>
      		<a href="/media">MEDIA</a>
      	</li>
      	<li>
      		<a href="/events">EVENTS</a>
      	</li>
      </ul>
    </div>
  </nav>
</div>